body {
  margin: 0px;
  width: 610px;
  height: 370px;
}

#overall_panel {
  display: flex;
  flex-flow: column nowrap;
}

#top_panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background: #505050;
  padding: 10px;
  height: 68px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn {
  position: relative;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: baseline;
  transition: 0.5s;
  margin-right: 20px;
}

#add_btn {
  background: #229954;
  border: 2px solid #229954;
}

#add_btn:hover {
  background: #27ae60;

}

#update_btn {
  background: #2874a6;
  border: 2px solid #2874a6;
}

#update_btn:hover {
  background: #2e86c1;

}

.icon {
  align-self: center;
  width: 32px;
  height: 32px;
  padding: 10px;
}

.btn_text {
  align-self: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#add_text {
  margin-right: 20px;
  width: 100px;
  font-size: 20px;
  height: 30px;
  align-self: center;
  text-transform: uppercase;
}

#msg {
  margin-right: 20px;
  font-size: 20px;
  align-self: center;
}

#bot_panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 282px;
  background: #d0d0d0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#side_panel {
  display: flex;
  flex-flow: row nowrap;
  width: 0px;
  overflow-x: hidden;
  transition: 0.75s;
}

#side_panel_contents {
  display: flex;
  flex-flow: column nowrap;
  width: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#side_btn {
  background: #707070;
  transition: 0.5s;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: 10px;
  min-height: 100px;
}

#side_btn:hover {
  background: #c0c0c0;
}

#side_svg {
  display: block;
  width: 100%;
  margin: 0 auto;
  transform: scaleX(1);
}

#main_panel {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start; */
  display: grid;
  grid-template-columns: repeat(auto-fill,122px);
  place-items: center;
  width: 610px;
  overflow-y: scroll;
}

.stock {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 80px;
  height: 50px;
  position: relative;
}

.deleteBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 2px;
  opacity: 60%;
  transition: 0.5s;
}

.deleteBtn:hover {
  opacity: 100%;
}

.small_icon {
  align-self: center;
  width: 10px;
  height: 10px;
  padding: 3px;
}

#change_arrow_svg {
  width: 20px;
  height: 20px;
  align-self: center;
}

::-webkit-scrollbar {
  width: 0px;
}
